.active-link {
    background-color: #bbc0c7;
    /* Other styles */
  }
  



.content {
  flex: 1; /* Allow the content to take the remaining space */
  overflow-y: auto; /* Enable vertical scrolling for content */
  padding: 1rem; /* Add padding as needed */
}