<app-admin-layout>
  <div class="w-full">
    <div class="sticky top-0 bg-[#F3F3F6]">
      <label
        htmlFor="Toggle3"
        class="inline-flex items-center p-2 rounded-md dark:text-gray-400 w-full text-center"
      >
        <span
          (click)="setSelected()"
          class="cursor-pointer px-4 m-5 py-2 rounded-l-md bg-slate-700 text-white w-full"
        >
        post
         
        </span>
        <span
          (click)="setSelected()"
          class="cursor-pointer px-4 py-2 m-5 rounded-l-md bg-slate-700 text-white w-full"
        >
          video
        </span>
      </label>
    </div>
    <div class="content flex items-center justify-center ">
      <ng-container *ngIf="selected; else videoPosts">
          <div *ngIf="Posts; else noPosts" class="w-7/12 max-sm:w-full max-md:w-full max-lg:w-full">
            <div class="bg-[#F3F3F6] mb-10">
              <app-admin-one-post
                *ngFor="let post of Posts"
                [post]="post"
              ></app-admin-one-post>
            </div>
          </div>
        <ng-template #noPosts>No posts available.</ng-template>
      </ng-container>
      <ng-template #videoPosts>
          <div *ngIf="videos; else noVideoPosts" class="w-7/12 max-sm:w-full max-md:w-full max-lg:w-full">
            <div class="bg-[#F3F3F6] mb-10">
              <app-admin-one-post
                *ngFor="let post of videos"
                [shorts]="true"
                [post]="post"
              ></app-admin-one-post>
            </div>
          </div>
        <ng-template #noVideoPosts>No video posts available.</ng-template>
      </ng-template>
    </div>
  </div>
</app-admin-layout>
