<div
  *ngIf="user != null"
  (click)="getAccountPage(user._id)"
  class="flex items-center gap-2 py-2 m-4 px-2 hover:bg-[#bbc0c7] hover:scale-105"
>
  <div class="cursor-pointer">
    <app-avatar
      [imgSrc]="
        user.ProfileImg
          ? user.ProfileImg
          : 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png'
      "
    ></app-avatar>
  </div>
  <div class="px-2 font-semibold cursor-pointer">
    <h2>{{ user.username }}</h2>
    <p class="text-gray-400 text-sm p-0">{{ user.name }}</p>
  </div>
  <div *ngIf="!sideBar" class="ml-auto  flex duration-900">
    <div>
      <h1 class="align-middle ml-8 font-semibold">
        {{ user.Followers.length! || 0 }}
      </h1>
      <div class="text-slate-700 p-1 rounded-md px-2 flex">
        <span class="material-symbols-outlined"> person </span>
        followers
      </div>
    </div>
    <div>
        <h1 class="align-middle ml-8 font-semibold">
            {{ user.Following.length! || 0 }}
          </h1>
          
      <div class="text-slate-700 p-1 rounded-md px-2 flex">
        <span class="material-symbols-outlined">
            person
            </span>
        following
      </div>
    </div>
  </div>
  <div class="ml-auto">
    <button class="text-white bg-slate-700 p-1 rounded-md px-2 ml-5">
      Go to profile
    </button>
  </div>
</div>
